
#link-home-page{
    font-size: 20px;
    width: 70%;
    margin: auto;
    /* border: 1px solid red; */
    /* margin-top: -30px; */
    }
    #link-home-page>p>a{
    font-size: 20px;
    width: 70%;
    margin: auto;
    
        color: #fe5c75;
        margin-top: 10px;
        text-decoration: none;
    

    /* border: 1px solid rgb(94, 255, 0); */
    }
    #below-navbar-dispaly{
    /* border: 3px solid rgb(0, 89, 255); */
    width: 100%;
    display: flex;
    width: 70%;
    margin: auto;
    margin-top: 30px;
    }
    #below-navbar-left-side{
    /* border: 1px solid solid green; */
    width: 56%;
    
    }
    #below-navbar-right-side{
    /* border: 1px solid solid rgb(0, 6, 128); */
    width: 30%;
    margin-left: 15px;
    /* margin: auto; */
    }
    #heading-section{
    /* border: 2px solid darkblue; */
    margin-bottom: 20px;
    }
    #heading-section h3,h4{
    /* border: 2px solid darkblue; */
    font-size: 20px;
    margin: 5px auto;
    }
    #heading-section h1{
    /* border: 2px solid rgb(0, 139, 0); */
    font-size: 35px;
    color: #57555a;
    margin-bottom: 10px;
    }
    h3{
    margin: 5px auto;
    }
    #hover-div{
    /* border: 2px solid darkblue; */
    /* background-color: red; */
    height: 350px;
    width: 550px;
    position: absolute;
    right: 48%;
    font-size: 25px;
    padding: 14px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 10px;
    /* margin-top: -64px; */
    background-color: #fff;
    
    }
    #hover-div>div{
    /* border: 2px solid rgb(150, 17, 121); */
    display: flex;
    text-align: start;
    
    }
    #hover-div>div>div{
    /* border: 1px solid  red; */
    /* display: flex; */
    
    }
    #hover-div h3{
    /* border: 2px solid rgb(81, 150, 17); */
    margin-top: -32px;
    margin-bottom: 15PX;
    /* display: inline-block; */
    }
    #hover-div>div>div:nth-child(2){
    /* border: 2px solid rgb(47, 19, 139); */
    margin: auto;
    margin-left: -30px;
    height: 100%;
    width: 100%;
    
    }
    #hover-div h4{
    /* border: 2px solid rgb(150, 17, 121); */
    /* margin-left: 0px;  */
    }
    #hover-div p{
    /* border: 2px solid rgb(165, 124, 21); */
    display: block;
    font-size: 22px;
    line-height: 30px;
    
    }
    #hover-div img{
    /* border: 2px solid rgb(0, 139, 53); */
    display: inline-block;
    display: flex;
    width: 65%;
    height: 100%;
    border-radius: 10px;
    }
    #invisible{
    
    display:none;
    }
    #below-heading{
    /* border: 2p  solid   red; */
    }
    #below-heading p{
    /* border: 2p  solid   rgb(17, 255, 0); */
    font-size: 26px;
    margin-top: 20px;
    }
    #iframe-f1{
    width: 100%;
    /* border: 1x solid red; */
    margin-top: 20px;
    }
    #iframe-first{
    margin-bottom: 100px;
    
    }
    #li-links{
    /* border: 1px solid rgb(191, 33, 33); */
    width: 100%;
    font-size: 25px;
    line-height: 35px;
    margin: 10px auto;
    margin-bottom: 20px;
    }
    #li-links a:hover{
    /* border: 1px solid rgb(191, 33, 33); */
    color:#337ab7;
    }
    #ans-of-links{
    /* border: 2px solid rebeccapurple; */
    }
    #ans-of-links iframe{
    /* border: 2px solid rgb(51, 153, 51); */
    width: 100%;
    height: 500px;
    }
    #ans-of-links p{
    /* border: 2px solid rgb(41, 63, 119); */
    font-size: 25px;
    margin: 20px auto;
    line-height: 40px;
    }
    #ans1-of-links{
    /* border: 2px solid rebeccapurple; */
    }
    #ans1-of-links iframe{
    /* border: 2px solid rgb(51, 153, 51); */
    width: 100%;
    height: 500px;
    }
    #ans1-of-links p,li{
    /* border: 2px solid rgb(41, 63, 119); */
    font-size: 25px;
    margin: 20px auto;
    line-height: 40px;
    }
    #ads1,#ad2,#ad3,#ad4{
    /* border: 2px solid darkblue; */
    }
    #iframe-first{
    /* border: 2px solid firebrick; */
    width: 100%;
    margin-top: 50px;
    }
    #ads1,#ad2,#ad3,#ad4{
    margin-bottom: 40px;
    text-align: center;
    }
    #ads1>img,#ad2>img,#ad3>img,#ad4>img{
    /* width: 100%; */
    /* height: 100%; */
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 10px;
    padding: 15px;
    max-width: 100%;
    max-height: 100%;
    /* border: 2px solid red; */
    
    }
    #popular_cat,#articals{
    /* border: 2px solid red; */
    
    width: 100%;
    }
    #popular_cat>div,#articals>div{
    /* border: 2px solid slateblue; */
    display: flex;
    margin: 20px auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    }
    #popular_cat img,#articals img{
    /* border: 1px solid darkblue; */
    width: 40%;
    height: 100%;
    
    
    }
    #popular_cat a,#articals a{
    /* border: 2px solid rgb(41, 63, 119); */
    /* font-size: 22px; */
    width: 50%;
    height: 100%;
    font-size: 22px;
    text-align: center;
    margin: auto;
    margin-top: -4px;
    justify-content: center;
    color: #11181e;
    
    }
   #below-heading img, #ans1-of-links iframe, #ans-of-links iframe, #frm, #ans-of-links img,#iframe-first,#ans1-of-links img{
        width:95%;
        height: 500px;
        margin-bottom: 20px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 10px;
    }    


    #below-heading img{
        /* border: 2px solid green; */
        height:850px;
        
        }
