body {
  margin: 0px;
}

#upper {
  display: flex;
  margin-left: 40px;
  margin-top: 30px;
}
#upper > div > h1 {
  margin-top: -8px;
}
#Social_logo {
  display: flex;
}
.boxlogo {
  margin: 0px 0px 0px 0px;

  height: 80px;
  width: 200px;
  padding: 0px 6px 0px 40px;
}
#fb {
  background-color: #3b5999;
  color: white;
}
#fb1 {
  color: #3b5999;
  background-color: #ebebeb;
}
#pin {
  background-color: #bd0f1c;
  color: white;
}
#pin1 {
  background-color: #ebebeb;
  color: #bd0f1c;
}
#ins {
  background-color: #d53791;
  color: white;
}
#ins1 {
  color: #d53791;
  background-color: #ebebeb;
}
#make {
  display: flex;
  margin-left: 50px;
}

#makeup {
  text-align: center;
}
