#footer {
  background-color: #f2f2f2;
}

#footerDiv {
  display: flex;
  width: 90%;
  justify-content: space-between;
}

#footerDiv > div {
  padding: 20px;
  margin: 20px;
}

#footerDiv > div:nth-child(4) > a:nth-child(1) {
  color: black;
  font-weight: normal;
  text-decoration: none;
}

#footerDiv > div > div > a > img {
  width: 30px;
  height: 30px;
  margin: auto;
}

#footerDiv > div a {
  text-decoration: none;
  color: black;
  display: block;
  line-height: 20px;
  margin: 10px;
  font-size: 18px;
  letter-spacing: 0.25px;
}

#footerDiv > div > a:hover {
  text-decoration: underline;
  color: blue;
}

#footerDiv > div:nth-child(3) > div {
  display: flex;
  justify-content: center;
}

#Copyright {
  background-color: rgb(230, 230, 230);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#rights {
  width: 70%;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: -30px;
}
#rights a {
  text-decoration: none;
  color: #fe5c74;
  font-weight: 600;
  line-height: 22px;
}
#desc {
  margin: auto;
  text-align: center;
  width: 70%;
  letter-spacing: 0.25px;
}
#desc a {
  text-decoration: none;
  color: #fe5c74;
}
