* {
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
  }
  #header{
    position: sticky;
    top: 0;
    z-index: 1;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    box-shadow: -1px 7px 20px -7px #afa2a2;
    background-color: white;
  }

  #categories {
    display: none;
    position: absolute;
    top: 0px;
    left: 26px;
    text-align: center;
  }
  .child {
    display: flex;
    margin-left: 10px;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 1px;
    font-weight: 300;
  }
  .child > div {
    padding: 0px 10px;
    border-right: 2px solid #fe5c75;
  }
  .child > div:last-child {
    border-right: 0;
  }
  .child > div:hover {
    color: #fe5c75;
    cursor: pointer;
    transition: 2s;
  }
  #img {
    position: absolute;
    top: -10px;
    left: 35px;
    width: 100%;
    text-align: center;
  }
  #logodiv {
    display: flex;
    width: 60%;
    justify-content: flex-end;
    align-items: center;
  }
  #logodiv img {
    margin-left: 60px;
    width: 73%;
    height: 100%;
  }
  #toggle {
    width: 90%;
    height: 30px;
    margin-left: 45px;
    position: relative;
  }
  #toggle i {
    margin-top: -8px;
    font-size: 35px;
    color: #fe5c75;
    cursor: pointer;
  }